node_modules
.git
.env*
!.env.example
release.env*
.release.env*
.docker-compose.pre-*
.locales.pre-*
.locales.failed-*
.locales.release-*
logs
backup/
backups/
**/backup/
**/backups/
*.dump
*.dump.*
*.backup
*.bak
*.rdb
*.aof
*.aof.*
*.tar
*.tar.gz
*.md
.eslintrc*
.prettierrc*
dist
dist-protected
.dockerignore
.gitignore
